DEBUG=True
PRODUCTION=False

SECRET_KEY=secret-key

POSTGRES_DB=jashtar_kyimyly
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_CACHE_LOCATION=redis://redis:6379/1

SUPERUSER_NAME=admin
SUPERUSER_EMAIL=admin@gmail.com
SUPERUSER_PASSWORD=admin

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=host@gmail.com
EMAIL_HOST_PASSWORD=host_password



AWS_ACCESS_KEY_ID=ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=ACCESS_KEY
AWS_S3_CUSTOM_DOMAIN=custom_domain.kg/s3-storage-bucket
AWS_S3_ENDPOINT_URL=ENDPOINT_URL
AWS_S3_REGION_NAME=name
AWS_S3_MEDIA_UPLOAD_DIR=production
AWS_S3_BUCKET_NAME=s3-storage-bucket

CORS_ALLOW_ALL_ORIGINS=False
CORS_ALLOWED_ORIGINS=http://localhost:3000,https://localhost:3000,http://localhost,https://localhost