# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# Static files
staticfiles/
back_static/
back_media/

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Environment
.env

# Database
*.sqlite3

# Misc
.DS_Store
*.swp