venv/
.env
.venv/
env

*.pyc

db.sqlite3

static/
staticfiles/
sqlite_data/

back_media/
back_static/

media/


.idea/
.vscode/
pycharm/

local_settings.py

*.log

__pycache__/
**/migrations/**
!**/migrations/__init__.py

*.pem
*.key
*.crt