amqp==5.3.1
asgiref==3.8.1
attrs==25.1.0
billiard==4.2.1
boto3==1.40.33
botocore==1.40.33
celery==5.5.0
chardet==5.2.0
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
Django==5.0.8
django-ckeditor-5==0.2.18
django-cors-headers==4.7.0
django-debug-toolbar==5.0.1
django-extensions==4.1
django-jazzmin==3.0.0
django-js-asset==3.1.2
django-modeltranslation==0.19.16
django-parler==2.3
django-redis==5.4.0
django-rest-passwordreset==1.5.0
django-storages==1.14.6
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.28.0
gunicorn==23.0.0
httplib2==0.22.0
inflection==0.5.1
jmespath==1.0.1
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
kombu==5.5.2
packaging==25.0
pillow==11.3.0
prompt_toolkit==3.0.50
psycopg2-binary==2.9.10
PyJWT==2.10.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-decouple==3.8
PyYAML==6.0.2
RapidFuzz==3.13.0
redis==5.2.1
referencing==0.36.2
reportlab==4.3.1
rpds-py==0.26.0
s3transfer==0.14.0
setuptools==80.4.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
Unidecode==1.4.0
uritemplate==4.2.0
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.13
